PruebasUnitarias/Service References/NtLink/ServicioTimbrado2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://ntlink.com.mx/IServicioTimbrado" elementFormDefault="qualified" targetNamespace="https://ntlink.com.mx/IServicioTimbrado" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ntlink.com.mx/ntfacturacionws/ServicioTimbrado.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CertificadorWs.Business" />
  <xs:import schemaLocation="http://ntlink.com.mx/ntfacturacionws/ServicioTimbrado.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CertificadorWs" />
  <xs:element name="RegistraEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CertificadorWs.Business" minOccurs="0" name="empresa" nillable="true" type="q1:EmpresaNtLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistraEmpresaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rfcEmpresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaEmpresaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatosCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatosClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CertificadorWs.Business" minOccurs="0" name="ObtenerDatosClienteResult" nillable="true" type="q2:ClienteNtLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEmpresas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEmpresasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CertificadorWs.Business" minOccurs="0" name="ObtenerEmpresasResult" nillable="true" type="q3:ArrayOfEmpresaNtLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimbraCfdiQr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comprobante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimbraCfdiQrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CertificadorWs" minOccurs="0" name="TimbraCfdiQrResult" nillable="true" type="q4:TimbradoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimbraCfdi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comprobante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimbraCfdiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TimbraCfdiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelaCfdi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rfc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelaCfdiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelaCfdiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelaCfdiRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requestCancelacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelaCfdiRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CertificadorWs.Business" minOccurs="0" name="CancelaCfdiRequestResult" nillable="true" type="q5:RespuestaCancelacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerStatusUuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerStatusUuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CertificadorWs" minOccurs="0" name="ObtenerStatusUuidResult" nillable="true" type="q6:ResultadoConsulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>