SAT.CFDI.Cliente.Procesamiento/Service References/ServicioRelacionados/CfdiConsultaRelacionadosService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://cancelacfd.sat.gob.mx" elementFormDefault="qualified" targetNamespace="http://cancelacfd.sat.gob.mx" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://anexo20cfdicancelacion.cloudapp.net/ConsultaRelacionados/CfdiConsultaRelacionadosService.svc?xsd=xsd1" namespace="http://www.w3.org/2000/09/xmldsig#" />
  <xs:element name="ProcesarRespuesta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="solicitud" type="tns:PeticionConsultaRelacionados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PeticionConsultaRelacionados">
    <xs:sequence>
      <xs:element xmlns:q1="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="1" ref="q1:Signature" />
    </xs:sequence>
    <xs:attribute name="Uuid" type="xs:string" />
    <xs:attribute name="RfcReceptor" type="xs:string" />
    <xs:attribute name="RfcEmisor" type="xs:string" />
    <xs:attribute name="RfcPacEnviaSolicitud" type="xs:string" />
  </xs:complexType>
  <xs:element name="ProcesarRespuestaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ProcesarRespuestaResult" type="tns:ConsultaRelacionados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ConsultaRelacionados">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="UuidConsultado" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Resultado" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UuidsRelacionadosPadres" type="tns:ArrayOfUuidPadre" />
      <xs:element minOccurs="0" maxOccurs="1" name="UuidsRelacionadosHijos" type="tns:ArrayOfUuidRelacionado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfUuidPadre">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UuidPadre" nillable="true" type="tns:UuidPadre" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UuidPadre">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Uuid" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RfcEmisor" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RfcReceptor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfUuidRelacionado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UuidRelacionado" nillable="true" type="tns:UuidRelacionado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UuidRelacionado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Uuid" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RfcEmisor" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RfcReceptor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>