ClienteCertificador/Service References/Timbrador/CertificadorService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://ntlink.com.mx/ICertificador" elementFormDefault="qualified" targetNamespace="https://ntlink.com.mx/ICertificador" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TimbraCfdi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="comprobante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimbraCfdiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TimbraCfdiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelaCfdi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rfc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelaCfdiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelaCfdiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>