CertificadorWs.Business/Service References/AutenticaCan/Autenticacion1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Autenticacion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="basicWebApiAuthentication_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:EndorsingSupportingTokens>
                      <wsp:Policy>
                        <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:RequireThumbprintReference />
                            <sp:WssX509V3Token10 />
                          </wsp:Policy>
                        </sp:X509Token>
                        <sp:SignedParts>
                          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                        </sp:SignedParts>
                      </wsp:Policy>
                    </sp:EndorsingSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy>
                        <sp:MustSupportRefThumbprint />
                      </wsp:Policy>
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://prodretencionautentica.clouda.sat.gob.mx/Autenticacion.svc/wsdl?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://prodretencionautentica.clouda.sat.gob.mx/Autenticacion.svc/wsdl?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAutenticacion_GetServerDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerDate" />
  </wsdl:message>
  <wsdl:message name="IAutenticacion_GetServerDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerDateResponse" />
  </wsdl:message>
  <wsdl:message name="IAutenticacion_Autentica_InputMessage">
    <wsdl:part name="parameters" element="tns:Autentica" />
  </wsdl:message>
  <wsdl:message name="IAutenticacion_Autentica_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutenticaResponse" />
  </wsdl:message>
  <wsdl:portType name="IAutenticacion">
    <wsdl:operation name="GetServerDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutenticacion/GetServerDate" message="tns:IAutenticacion_GetServerDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutenticacion/GetServerDateResponse" message="tns:IAutenticacion_GetServerDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Autentica">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutenticacion/Autentica" message="tns:IAutenticacion_Autentica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutenticacion/AutenticaResponse" message="tns:IAutenticacion_Autentica_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basicWebApiAuthentication" type="tns:IAutenticacion">
    <wsp:PolicyReference URI="#basicWebApiAuthentication_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServerDate">
      <soap12:operation soapAction="http://tempuri.org/IAutenticacion/GetServerDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Autentica">
      <soap12:operation soapAction="http://tempuri.org/IAutenticacion/Autentica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Autenticacion">
    <wsdl:port name="basicWebApiAuthentication" binding="tns:basicWebApiAuthentication">
      <soap12:address location="https://prodretencionautentica.clouda.sat.gob.mx/Autenticacion.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://prodretencionautentica.clouda.sat.gob.mx/Autenticacion.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>