ClienteCertificador/Service References/ServicioTimbrado/ServicioTimbrado3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CertificadorWs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CertificadorWs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TimbradoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CadenaTimbre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cfdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QrCodeBase64" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valido" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimbradoResponse" nillable="true" type="tns:TimbradoResponse" />
</xs:schema>